@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
}

.infoTop {
  background-color: #285B52;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 10vw;
  font-size: 2vw;
  height: 3vh;
  justify-content: flex-start;
  align-items: center
}

.infoTop a {
  color: #fff;
  margin-left: 3vw;
  font-weight: 600;
}

.infoTop img {
  margin-left: 1vw;
  width: 1.5vh;
  margin: 0.75vh 0 0.75vh 1vw;
}

.ndinfoTopImg {
  margin-left: 9vw;
}


.svgininfotop {
  display: flex;
  align-items: center;
}

.nav {
  /*background-color: red;*/
  padding: 0 3vw;
  height: 5vh;
  z-index: 3000;
}


.nav ul img {
  width: 3vw;
  margin: 0 0;
}

.nav ul li {
  font-size: 5vw;
  color: #000;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.nav a {
  color: #000;
  text-decoration: none;
}

.nav #svgNav {
  margin: 0 0 0 34vw;
}

.nav .navReponsiveBtn {
  margin-left: 8vw;
}

.nav .onClickNavResponsiveBtn {
  width: 100%;
  height: 94vh;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0%;
  bottom: 0;
  display: none;
}

.nav .differencateNav {
  width: 0.04px;
  height: 2vh;
  background-color: #111;
  margin-left: 2vw;
}

.nav #closeNav {
  display: none;
}

.nav .contactSales {
  margin-left: 2vw;
}

.nav .logIn {
  margin-left: 2vw;
}

.nav .GetStartedBtn {
  width: 100px;
  height: 30px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 2vw;
  border-radius: 3px;
}


#main {
  display: flex;
  justify-content: center;
  padding: 6vh 5vw 0 5vw;
  flex-direction: column;
}

.para-textButton {
  display: flex;
  flex-direction: column;
}

#main h1 {
  font-size: 9vw;
  font-weight: 600;
  text-align: center;
}

#main p {
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  font-size: 2.5vw;
}

.twoBtn {
  display: flex;
  justify-content: center;
}

#main .btn {
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3vh 0 0 0;
  font-weight: 700;
}

#main .btn2 {
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 3vh 0 0 3vw;
  font-weight: 700;
}

img {
  width: 90vw;
  margin-top: 2vh;
}

.extra-text {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  font-size: 3vw;
}

.extra-text h5 {
  font-weight: 500;
}

.imagesInExtraText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagesInExtraText img {
  width: 20vw;
  margin: 3vw 1vw 0 1vw;
}


#main2 {
  background-color: #F5F3F3;
  width: 100%;
  height: 50vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

#main2 h1 {
  margin: 5vh 5vw 1vh 5vw;
  font-size: 6.5vw;
  font-weight: 600;
}

#main2 .infoandmainelementInPage2 {
  flex-direction: column;
}

#main2 .infoandmainelementInPage2 .infoBtnParent {
  display: flex;
  flex-direction: row;
}

#main2 .infoandmainelementInPage2 .infoBtnParent .infoBtnPage2no1 {
  width: 15vw;
  height: 3vh;
  background: #FBDDE0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 5vw;
  font-size: 2.7vw;
}

#main2 .infoandmainelementInPage2 .infoBtnParent .infoBtnPage2no2 {
  width: 14vw;
  height: 3vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid #000;
  margin-left: 3vw;
  font-size: 2.7vw;
  flex-direction: column;
}

#main2 .infoandmainelementInPage2 .infoBtnParent .infoBtnPage2no3 {
  width: 8vw;
  height: 3vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid #000;
  margin-left: 3vw;
  font-size: 2.7vw;
}

#main2 .infoandmainelementInPage2 .infoBtnParent .infoBtnPage2no4 {
  width: 15vw;
  height: 3vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid #000;
  margin-left: 3vw;
  font-size: 2.7vw;
}

#main2 .infoandmainelementInPage2 .infoBtnParent .infoBtnPage2no5 {
  width: 20vw;
  height: 3vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0.5px solid #000;
  margin-left: 3vw;
  font-size: 2.7vw;
}

#main2 .moreInfoinPage2 {
  display: flex;
}

#main2 .moreInfoinPage2 .imgPage2No1 img {
  width: 50vw;
  margin-left: 3vw;
}

#main2 .moreInfoinPage2 .textPage2No1 .mainTextPage2No1 h1 {
  font-size: 4.4vw;
  font-weight: 500;
  margin: 2vh 4vw;
}

#main2 .paraTextInPage2No1 {
  display: flex;
  margin: 2vh 4vw 0vh 4vw;
  line-height: 1.5vh;
}

#main2 .paraTextInPage2No1 .dotPage2 {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #000;
  margin-top: 0.5vh;
}

#main2 .paraTextInPage2No1 p {
  font-size: 2.5vw;
  margin-left: 1.5vw
}

#main2 .page2BtnNo1 {
  display: flex;
  justify-content: center;
  margin-left: 27vw;
}

#main2 .page2BtnNo1 .btnPage2No1 {
  width: 15vw;
  height: 3vh;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7vh;
}
